@font-face {
    font-family: 'myFont';
    src:  url('/assets/FontsFree-Net-SFProDisplay-Regular.ttf') format('ttf');
  }

html {
    font-family: 'myFont', sans-serif;
}

body {
    background-color: #e0e0e0;
    margin: 0px;
    padding: 0px;
}

.amendment-container {
    text-align: center;
}

.topnav {
    background-color: #444444;
    max-width: 100%;
    overflow: hidden;
    height: 50%;
  }

  .topnav img {
      float: left;
  }
  
  .topnav a {
    float: right;
    color: #cfcfcf;
    font-weight: 600;
	text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 20px 15px 7px 5px;
    padding: 10px;
  }

  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }

label {
    color: black;
    font-weight: 500;
    font-size: 16px;
    size: 40;
    text-align: left;
    margin: 15px
}

input {
    font-size: 16px;
    width:70%;
    height: 24px;
    margin: 15px;
    padding: 2px 5px 2px 10px;
}

::placeholder {
    font-size: 12;
    font-style: normal;
    color: #aaaaaa;
}

button {
    width: 150px;
    height: 34px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #f28500;
    margin-bottom: 15px;
}
